@use "./mixins";

body {
  font-family: var(--font-hanken-grotesk);
  font-weight: var(--font-weight-medium);
  font-size: 1rem;
  line-height: normal;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.text-preset-xl {
  font-weight: var(--font-weight-extrabold);
  font-size: 3.5rem;
  line-height: 100%;
}

.text-preset-lg {
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
}

.text-preset-md {
  font-weight: var(--font-weight-bold);
  font-size: 1.125rem;
}

@include mixins.tablet {
  body {
    font-size: 1.125rem;
  }

  .text-preset-xl {
    font-size: 4.5rem;
  }

  .text-preset-lg {
    font-size: 2rem;
  }

  .text-preset-md {
    font-size: 1.5rem;
  }
}
