@font-face {
  font-family: "Hanken Grotesk";
  src: local("Hanken Grotesk"),
    url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 500 800;
  font-display: swap;
}
