@use "./abstracts/z-index" as abstracts;
@use "./vendors/z-index" as vendors;
@use "./base/z-index" as base;
@use "./components/z-index" as components;

html {
  height: 100%;
}

body {
  height: inherit;
}

#root {
  height: inherit;

  background-color: var(--clr-neutral-pale-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}
