.result {
  padding: 1rem;
  border-radius: 0.75rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.stack1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stack2 {
  display: flex;
  gap: 0.5rem;
}