@use "../styles/mixins";

.totalScore {
  border-radius: 999px;
  width: 8.75rem;
  aspect-ratio: 1 / 1;

  background-image: linear-gradient(
    var(--color-gradient-violet-blue),
    var(--color-gradient-persian-blue)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

@include mixins.tablet {
  .totalScore {
    width: 12.5rem;
  }
}
