.congratulation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  text-align: center;

  &__heading {
    color: var(--clr-neutral-white);
    font-size: 1.5rem;
  }

  &__paragraph {
    color: var(--clr-neutral-light-lavender);
  }
}
