@use "../abstracts/breakpoints";

.total-score {
  margin: auto;
  border-radius: 50%;
  width: 8.75rem;
  aspect-ratio: 1 / 1;

  background-image: var(--grd-circle);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__achieved {
    color: var(--clr-neutral-white);
    font-size: var(--fs-xl);
    font-weight: var(--fw-extra-bold);
    line-height: normal;
  }

  &__cap {
    color: var(--clr-neutral-light-lavender);
    opacity: 0.51;
  }
}

@media (min-width: breakpoints.$bp-tablet) {
  .total-score {
    width: 12.5rem;
  }
}
