.app {
  min-height: 100dvh;
  padding-inline: clamp(0rem, -2.2673rem + 9.447vw, 2.5625rem);

  @media screen and (min-width: calc(768 / 16 * 1rem)) {
    align-content: center;
  }

  h1 {
    position: absolute;
    left: -99rem;
  }
}
