:root {
  // colors
  --clr-white: oklch(1 0 0);
  --clr-black: oklch(1 0 0);

  --clr-navy-950: oklch(0.3566 0.0544 268.2);
  --clr-navy-200: oklch(0.8548 0.0747 285.55);
  --clr-navy-50: oklch(0.9604 0.0186 265.98);

  --clr-blue-800: oklch(0.4231 0.2559 265.72);
  --clr-blue-50: oklch(0.969 0.012 281.08);

  --clr-yellow-400: oklch(0.8167 0.1656 76.26);
  --clr-yellow-50: oklch(0.9892 0.0102 81.8);

  --clr-red-400: oklch(0.6822 0.2063 24.43);
  --clr-red-50: oklch(0.9801 0.0097 17.32);

  --clr-green-500: oklch(0.7036 0.1419 168.33);
  --clr-green-50: oklch(0.9828 0.0112 176.32);

  --bg-color-root: var(--clr-blue-50);
  --text-color-root: var(--clr-navy-950);

  --text-color-dimmed: var(--clr-navy-200);

  // gradients
  --grd-circle: linear-gradient(
    180deg,
    oklch(0.4374 0.2314 283.24),
    oklch(0.41 0.2403 269.82 / 0)
  );

  --grd-background: linear-gradient(
    180deg,
    oklch(0.5849 0.2384 285.54),
    oklch(0.4633 0.2652 270.21)
  );

  // fonts
  --ff-hanken-grotesk: "Hanken Grotesk", sans-serif;

  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;

  --fs-xxl: clamp(3.5rem, 2.2285rem + 5.298cqw, 4.5rem);
  --fs-xl: clamp(1.5rem, 0.8642rem + 2.649cqw, 2rem);
  --fs-lg: clamp(1.125rem, 0.6482rem + 1.9868cqw, 1.5rem);
  --fs-md: 1.125rem;
  --fs-rg: clamp(1rem, 0.8411rem + 0.6623cqw, 1.125rem);

  --lh-100: 1;
  --lh-130: 1.3;

  --ls-0: 0;

  // root styles
  background-color: var(--bg-color-root);
  color: var(--text-color-root);

  font-family: var(--ff-hanken-grotesk);
  letter-spacing: var(--ls-0);
}
