@layer {
  [data-text-preset="1"] {
    font-weight: var(--fw-800);
    font-size: var(--fs-xxl);
    line-height: var(--lh-100);
  }

  [data-text-preset="2"] {
    font-weight: var(--fw-700);
    font-size: var(--fs-xl);
    line-height: var(--lh-100);
  }

  [data-text-preset="3"] {
    font-weight: var(--fw-700);
    font-size: var(--fs-lg);
    line-height: var(--lh-130);
  }

  [data-text-preset="4"],
  [data-text-preset="4-bold"] {
    font-weight: var(--fw-500);
    font-size: var(--fs-rg);
    line-height: var(--lh-130);
  }

  [data-text-preset="4-bold"] {
    font-weight: var(--fw-700);
  }

  [data-text-preset="5"] {
    font-weight: var(--fw-700);
    font-size: var(--fs-md);
    line-height: var(--lh-130);
  }
}
